
@media screen and (min-width:1241px) and (max-width:1500px){

}

@media screen and (min-width:1025px) and (max-width:1240px){
	
}

@media screen and (min-width:992px) and (max-width:1024px){
	
}

@media screen and (min-width:768px) and (max-width:991px){
	
	
}
@media (max-width: 767px){

    .profile-card-main
    {
      font-family: "Jost", sans-serif;
      /* display: flex; */
      flex-direction: column;
    }

    .profile-card {
        max-width: 340px;
        margin: 50px;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 1);
        /* display: flex; */
        transition: 0.3s;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 0 1px rgb(255, 255, 255);
        height: 320px;
        padding: 0px 60px;
      }
  
}



@media screen and (max-width:575px){

	
}


@media screen and (max-width:480px){

	
}
